POSTGRES_DB=online_school
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecret
DB_PORT=5432

BACKEND_PORT=8000

DJANGO_SECRET_KEY=your-very-secret-key
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

REDIS_HOST=redis
REDIS_PORT=6379
